<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Intech_software.Properties.Settings.masterConnectionString" connectionString="Data Source=.;Initial Catalog=master;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--SGFzYWtpV29ya1Rlc3Q-->
		<add key="HSK_TOKEN" value="XPLKND3ygU8S66O6l1jzFfzHoCQ=" />
		<!--<add key="HSK_TOKEN" value="SGFzYWtpV29ya1Rlc3Q" />-->
		<!--<add key="HSK_URL" value="https://test.hasakiexpress.vn/api" />-->
		<add key="HSK_URL" value="https://hasakiexpress.vn/api" />
    <add key="WMS_URL" value="https://wms-gw.inshasaki.com" />
    <add key="TEST_INS_URL" value="https://test-ws.inshasaki.com" />
	  <add key="INS_URL" value="https://ws.inshasaki.com" />
		<add key="KAFKA_ADDRS" value="staging-kafka01.inshasaki.com:9092,staging-kafka02.inshasaki.com:9092,staging-kafka03.inshasaki.com:9092" />
		<add key="KAFKA_GROUP" value="wms_local_worker_ttn_03" />
		<add key="KAFKA_MAX_MESSAGE_BYTES" value="64" />
		<add key="KAFKA_COMPRESS" value="true" />
		<add key="KAFKA_NEWEST" value="false" />
		<add key="KAFKA_VERSION" value="2.6.0" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>